In [1]:
import pandas as pd

In [2]:
# Load the xl files
Vanguard_ab = pd.read_excel('Vanguard_ab.xlsx')
web_tran_sum = pd.read_excel('web_transactions_summary.xlsx')

In [3]:
Vanguard_ab.head(20)

,Unnamed: 0,client_id,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_tenure_years,avg_bal_per_account,variation,age_range,tenure_range
0,0,836976,60,U,2,45105.30,6,9,6.08,22552.65,Test,>60,5 to 10
1,1,2304905,58,U,2,110860.30,6,9,7.83,55430.15,Control,50 to 60,5 to 10
2,2,1439522,32,U,2,52467.79,6,9,5.33,26233.89,Test,30 to 40,5 to 10
3,3,1562045,49,M,2,67454.65,3,6,16.50,33727.32,Test,40 to 50,10 to 20
4,4,5126305,33,F,2,103671.75,0,3,12.08,51835.88,Control,30 to 40,10 to 20
5,5,3727881,30,U,2,23915.60,0,3,5.92,11957.80,Control,30 to 40,5 to 10
6,6,272934,58,U,2,27021.42,2,5,5.50,13510.71,Control,50 to 60,5 to 10
7,7,388801,57,M,5,522498.72,1,4,30.08,104499.74,Test,50 to 60,>20
8,8,285619,67,M,2,299388.72,3,6,30.75,149694.36,Control,>60,>20
9,9,8198645,54,F,2,382303.83,6,9,15.75,191151.92,Test,50 to 60,10 to 20
10,10,8368822,34,U,2,75578.54,0,3,8.33,37789.27,Control,30 to 40,5 to 10
11,11,2537139,51,U,2,135940.68,6,9,8.25,67970.34,Control,50 to 60,5 to 10
12,12,2208717,33,U,2,29782.96,6,9,5.58,14891.48,Test,30 to 40,5 to 10
13,13,2214073,62,M,3,136818.03,6,9,16.08,45606.01,Test,>60,10 to 20
14,14,2368987,54,U,2,44408.87,2,5,5.92,22204.44,Control,50 to 60,5 to 10
15,15,2892152,36,U,2,46815.48,5,8,4.83,23407.74,Test,30 to 40,1 to 5
16,16,4536541,74,U,2,47804.50,1,4,3.92,23902.25,Test,>60,1 to 5
17,17,3788589,32,M,2,30750.76,0,3,10.17,15375.38,Control,30 to 40,10 to 20
18,18,719792,31,F,2,111736.78,5,8,11.33,55868.39,Test,30 to 40,10 to 20
19,19,5904035,25,U,2,27848.76,3,6,8.42,13924.38,Test,<30 years,5 to 10

In [4]:
len(Vanguard_ab)

50487

In [5]:
web_tran_sum.head(15)

,visit_id,client_id,visitor_id,start_duration,step1_duration_exact,step2_duration_exact,step3_duration_exact,confirm_duration_exact,hour_of_day,Day period,Repetition,confirm,number_start,number_steps1,number_steps2,number_steps3,number_confirm,total_steps,total_duration,transaction_status
0,100012776_37918976071_457913,3561384,451664975_1722933822,0,0,0,0,52,13,lunchtime,True,True,0,0,0,0,2,2,52,Error
1,1000165_4190026492_760066,9056452,306992881_89423906595,0,3,24,77,37,1,night,False,True,1,1,1,1,1,5,141,Confirmed w/o Repetition
2,100019538_17884295066_43909,7338123,612065484_94198474375,18,41,13,113,57,16,afternoon,True,True,3,4,2,1,1,11,242,Confirmed with Repetition
3,100022086_87870757897_149620,2478628,754122351_18568832435,0,22,45,53,60,20,evening,False,True,1,1,1,1,1,5,180,Confirmed w/o Repetition
4,100030127_47967100085_936361,105007,676020267_36602664238,0,0,0,0,0,11,mid-morning,False,False,1,0,0,0,0,1,0,Error
5,100034012_10293842356_627828,5303781,817384618_23455993918,84,14,5,91,31,14,lunchtime,True,True,2,2,1,1,1,7,225,Confirmed with Repetition
6,100037962_47432393712_705583,5623007,700426174_33289797318,93,39,0,0,0,16,afternoon,True,False,3,1,0,0,0,4,132,Error
7,100057941_88477660212_944512,4823947,611052344_43146965242,0,57,107,90,0,11,mid-morning,True,False,1,2,2,2,0,7,254,Error
8,100061345_677868293_127105,1748647,413751600_31279009983,0,0,0,0,0,6,early morning,False,False,1,0,0,0,0,1,0,Error
9,100064169_21178362056_671035,7546902,539231241_20943230702,0,0,0,0,0,10,mid-morning,False,False,1,0,0,0,0,1,0,Error
10,100065579_58979991824_496649,2848373,66514700_31923440179,0,227,44,24,43,14,lunchtime,False,True,1,1,1,1,1,5,338,Confirmed w/o Repetition
11,10006594_66157970412_679648,3479519,194422203_56127484794,0,10,10,333,1,11,mid-morning,True,True,1,1,1,3,1,7,354,Confirmed with Repetition
12,100071743_53464757454_616703,3432704,118095622_91258648673,0,0,0,0,0,10,mid-morning,False,False,1,0,0,0,0,1,0,Error
13,100075378_35009209505_135399,8413245,61752232_53515470198,0,80,53,53,1008,20,evening,True,True,1,2,2,1,1,7,1194,Confirmed with Repetition
14,10007589_47780784567_391490,5477656,164180384_39691984082,0,167,46,181,327,8,early morning,False,True,1,1,1,1,1,5,721,Confirmed w/o Repetition

In [6]:
len(web_tran_sum)

158095

In [7]:
#merging the 2 df using web_trans_sum as base and bringing the customer info from Vanguard_ab
df_ab_tablo = web_tran_sum.merge(Vanguard_ab, on='client_id', how='left')

In [8]:
len(df_ab_tablo)

158095

In [9]:
df_ab_tablo

,visit_id,client_id,visitor_id,start_duration,step1_duration_exact,step2_duration_exact,step3_duration_exact,confirm_duration_exact,hour_of_day,Day period,...,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,clnt_tenure_years,avg_bal_per_account,variation,age_range,tenure_range
0,100012776_37918976071_457913,3561384,451664975_1722933822,0,0,0,0,52,13,lunchtime,...,U,2.0,63130.44,6.0,9.0,4.67,31565.22,Test,50 to 60,1 to 5
1,1000165_4190026492_760066,9056452,306992881_89423906595,0,3,24,77,37,1,night,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100019538_17884295066_43909,7338123,612065484_94198474375,18,41,13,113,57,16,afternoon,...,M,2.0,26436.73,6.0,9.0,7.33,13218.36,Test,<30 years,5 to 10
3,100022086_87870757897_149620,2478628,754122351_18568832435,0,22,45,53,60,20,evening,...,F,2.0,32456.28,2.0,5.0,16.50,16228.14,Test,40 to 50,10 to 20
4,100030127_47967100085_936361,105007,676020267_36602664238,0,0,0,0,0,11,mid-morning,...,F,2.0,34897.47,3.0,6.0,9.83,17448.74,Control,30 to 40,5 to 10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158090,999986292_55082159911_561557,8374531,339629093_15796635997,0,0,0,0,1895,19,evening,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158091,999988789_76411676596_272843,6627522,730634087_44272418812,9,55,54,0,0,23,late evening,...,F,2.0,1056775.54,6.0,9.0,18.92,528387.77,Test,50 to 60,10 to 20
158092,999989069_52203656268_170206,3735489,614972736_12303688756,0,4,0,0,0,13,lunchtime,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158093,999991142_15352368745_399725,3761538,522028589_37033306085,0,0,0,0,0,13,lunchtime,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158094,999992932_41666455053_671149,7149380,483112224_46340533900,0,21,68,854,228,16,afternoon,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#dropping na in the final df
df_ab_tablo_clean = df_ab_tablo.dropna(subset=['clnt_age'])

In [11]:
len(df_ab_tablo_clean)

69002

In [23]:
# Convert to an excel file
df_ab_tablo_clean.to_excel('AB_testing_tablo_final.xlsx', index=True)

In [12]:
# Create a column 'is_confirmed' that checks if 'transaction_status' contains 'confirmed'
df_ab_tablo_clean['is_confirmed'] = df_ab_tablo_clean['transaction_status'].str.contains('confirmed', case=False, na=False)

# Calculate the completion rate for Test and Control populations
completion_rate = df_ab_tablo_clean.groupby('variation')['is_confirmed'].mean() * 100

# Display the completion rate
print(completion_rate)

variation
Control    45.862737
Test       47.950022
Name: is_confirmed, dtype: float64

C:\Users\benoi\AppData\Local\Temp\ipykernel_26016\1080613087.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ab_tablo_clean['is_confirmed'] = df_ab_tablo_clean['transaction_status'].str.contains('confirmed', case=False, na=False)

In [68]:
# Calculate total number of transactions per variation
total_transactions = df_ab_tablo_clean.groupby('variation')['visit_id'].count()

# Calculate the number of transactions where 'is_confirmed' is True
confirmed_transactions = df_ab_tablo_clean.groupby('variation')['is_confirmed'].sum()

# Create a DataFrame to show the results
result_df = pd.DataFrame({
    'Total Transactions': total_transactions,
    'Confirmed Transactions': confirmed_transactions,
    'Completion Rate': (confirmed_transactions / total_transactions) * 100
})

# Format the completion rate to display with 2 decimal places
result_df['Completion Rate'] = result_df['Completion Rate'].round(2)

# Reset the index to remove the 'variation' label as an index
result_df_reset = result_df.reset_index()

# Display the result
result_df_reset

  variation  Total Transactions  Confirmed Transactions  Completion Rate
0   Control               32026                   14688            45.86
1      Test               36976                   17730            47.95

In [24]:
from statsmodels.stats.proportion import proportions_ztest

# Number of confirmed transactions for each group
confirmed = [result_df.loc['Test', 'Confirmed Transactions'], result_df.loc['Control', 'Confirmed Transactions']]

# Total number of transactions for each group
nobs = [result_df.loc['Test', 'Total Transactions'], result_df.loc['Control', 'Total Transactions']]

# Perform Z-test for proportions
z_stat, p_value = proportions_ztest(confirmed, nobs)

# Display results
print(f"Z-statistic: {z_stat}, p-value: {p_value}")

#H0​: pTest ​= pControl​
#H1​: pTest ​!= pControl​
#With p = Number of confirmed transactions / Number of Total transactions

#Since the p-value is so low, we reject the null hypothesis (H₀). 
#This means that the difference in completion rates between the Test and Control groups is statistically significant
#The variation introduced in the Test group has had a statistically significant impact on the completion rate.

Z-statistic: 5.478797195663253, p-value: 4.282268412490439e-08

In [49]:
# Average Time Spent on Each Step
# Define the step columns
step_columns = ['start_duration', 'step1_duration_exact', 'step2_duration_exact', 'step3_duration_exact', 'confirm_duration_exact','total_duration']

# Calculate the average duration per step for each group (Test and Control)
average_durations = df_ab_tablo_clean.groupby('variation')[step_columns].mean().round(1)

# Rename the columns
average_durations = average_durations.rename(columns={
    'start_duration': 'Start',
    'step1_duration_exact': 'Step 1',
    'step2_duration_exact': 'Step 2',
    'step3_duration_exact': 'Step 3',
    'confirm_duration_exact': 'Confirmed',
    'total_duration': 'Total'
})

# Calculate the difference between Test and Control for each column
difference_row = average_durations.loc['Test'] - average_durations.loc['Control']

# Append the difference as a new row in the DataFrame
average_durations.loc['Difference'] = difference_row

# Reset the index to remove the current index (variation) and make it part of the columns
average_durations_reset = average_durations.reset_index(drop=True)

# Define a function to apply color formatting based on positive and negative values
def color_positive_negative(val):
    color = 'red' if val > 0 else 'green' if val < 0 else 'black'
    return f'color: {color}'

# Apply the color formatting to the 'Difference' row
styled_df = average_durations.style.applymap(color_positive_negative, subset=pd.IndexSlice['Difference', :])
styled_df = styled_df.format("{:.1f}")

# Display the summary in a DataFrame
styled_df

C:\Users\benoi\AppData\Local\Temp\ipykernel_26016\2786301481.py:33: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  styled_df = average_durations.style.applymap(color_positive_negative, subset=pd.IndexSlice['Difference', :])

In [61]:
from statsmodels.stats.weightstats import ztest

# Define the step columns
step_columns = ['start_duration', 'step1_duration_exact', 'step2_duration_exact', 'step3_duration_exact', 'confirm_duration_exact', 'total_duration']

# Dictionary to store the Z-test results
z_test_results = {}

# Loop over each step and perform the Z-test for Test and Control groups
for step in step_columns:
    # Extract the Test and Control groups for the current step
    test_group = df_ab_tablo_clean[df_ab_tablo_clean['variation'] == 'Test'][step]
    control_group = df_ab_tablo_clean[df_ab_tablo_clean['variation'] == 'Control'][step]
    
    # Perform the Z-test
    z_stat, p_value = ztest(test_group, control_group)
    
    # Store the Z-statistic and p-value for the current step
    z_test_results[step] = {'Z-statistic': z_stat, 'p-value': p_value}

# Convert the Z-test results to a DataFrame for display
z_test_df = pd.DataFrame(z_test_results).T

# Rename the rows (index) of the Z-test results DataFrame for clearer presentation
z_test_df_renamed = z_test_df.rename(index={
    'start_duration': 'Start',
    'step1_duration_exact': 'Step 1',
    'step2_duration_exact': 'Step 2',
    'step3_duration_exact': 'Step 3',
    'confirm_duration_exact': 'Confirmed',
    'total_duration': 'Total'
})


# Display the Z-test results
z_test_df_renamed

           Z-statistic       p-value
Start         4.695688  2.657112e-06
Step 1       -0.395825  6.922339e-01
Step 2       10.243624  1.264108e-24
Step 3        1.234810  2.169012e-01
Confirmed     5.890224  3.856731e-09
Total         8.137079  4.049287e-16

In [ ]:
#H0​:mu Test​ = mu Control​
#H1​:mu Test != mu Control​

In [63]:
# Define the comments for each row based on the Z-test results
comments = [
    "YES",
    "NO",
    "YES",
    "NO",
    "YES",
    "YES",
]

# Add the comments as a new column to the DataFrame
z_test_df_renamed['Statiscally significant difference'] = comments

# Display the updated DataFrame with conclusions
z_test_df_renamed

           Z-statistic       p-value Statiscally significant difference
Start         4.695688  2.657112e-06                                YES
Step 1       -0.395825  6.922339e-01                                 NO
Step 2       10.243624  1.264108e-24                                YES
Step 3        1.234810  2.169012e-01                                 NO
Confirmed     5.890224  3.856731e-09                                YES
Total         8.137079  4.049287e-16                                YES

In [73]:
#repetition rate dataframe
# Filter the dataset to include only rows where 'transaction_status' is confirmed (excluding errors)
df_confirmed = df_ab_tablo_clean[df_ab_tablo_clean['transaction_status'].str.contains('confirmed', case=False, na=False)]

# Recalculate the total number of transactions for each variation (Test and Control) for confirmed transactions only
total_transactions_confirmed = df_confirmed.groupby('variation')['visit_id'].count()

# Calculate the number of transactions where 'Repetition' is True for each variation in confirmed transactions
repetition_transactions_confirmed = df_confirmed[df_confirmed['Repetition'] == True].groupby('variation')['visit_id'].count()

# Create a DataFrame to show the refined results
result_df_repetition_confirmed = pd.DataFrame({
    'Total': total_transactions_confirmed,
    'Repetition': repetition_transactions_confirmed,
    'Repetition Rate (%)': (repetition_transactions_confirmed / total_transactions_confirmed) * 100
})

# Format the repetition rate to display with 2 decimal places
result_df_repetition_confirmed['Repetition Rate (%)'] = result_df_repetition_confirmed['Repetition Rate (%)'].round(2)

# Reset the index to keep 'variation' as a column and display the refined DataFrame
result_df_repetition_confirmed_reset = result_df_repetition_confirmed.reset_index()

# Display the refined DataFrame
result_df_repetition_confirmed_reset

  variation  Total  Repetition  Repetition Rate (%)
0   Control  14688        5818                39.61
1      Test  17730        7395                41.71

In [74]:
from statsmodels.stats.weightstats import ztest

# Filter the dataset to include only rows where 'transaction_status' is confirmed (excluding errors)
df_confirmed = df_ab_tablo_clean[df_ab_tablo_clean['transaction_status'].str.contains('confirmed', case=False, na=False)]

# Extract the repetition values for Test and Control groups where the transaction status is confirmed
test_group_repetition_confirmed = df_confirmed[df_confirmed['variation'] == 'Test']['Repetition']
control_group_repetition_confirmed = df_confirmed[df_confirmed['variation'] == 'Control']['Repetition']

# Perform the Z-test for Repetition between Test and Control groups
z_stat_repetition_confirmed, p_value_repetition_confirmed = ztest(test_group_repetition_confirmed, control_group_repetition_confirmed)

# Display the Z-test results
print(f"Z-statistic: {z_stat_repetition_confirmed}, p-value: {p_value_repetition_confirmed}")

Z-statistic: 3.828196792009734, p-value: 0.00012908552825301688

In [ ]:
#statistical significance on repetition
#H0​:mu Test​ = mu Control​
#H1​:mu Test != mu Control​
#Since the p-value is so low, we reject the null hypothesis (H₀). 
#This means that the difference in completion rates between the Test and Control groups is statistically significant
#The variation introduced in the Test group has had a statistically significant impact on the completion rate.